@import url('main.css');

main.carreiras {
    width: 90%;
    margin: 0 auto;
}

main.carreiras h1 {
    color: var(--unnamed-color-0d65d9);
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
}

main.carreiras section.description {
    width: 100%;
    margin: 80px 0;
    display: flex;
    justify-content: center;
}

section.description div.inner-wrapper{
    width: 49%;
    margin: 0 .5%;

}

section.description div.inner-wrapper:last-child{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: 5%;
}

section.description div.inner-wrapper:last-child img{
    width: 550px;
}

section.description div.inner-wrapper span{
    display: block;
    color: var(--unnamed-color-5c9df2);
    margin-bottom: 10px;
}

section.description div.inner-wrapper h2{
    color: var(--unnamed-color-707070);
    font-size: 2.5em;
    margin-bottom: 30px;
}

section.description div.inner-wrapper p{
    color: var(--unnamed-color-707070);
    font-size: clamp(1rem, 1.3vw, 2rem);
    text-align: justify;
}

main.carreiras section.cta {
    width: 100%;
    margin: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.cta h3{
    color: var(--unnamed-color-707070);
    font-size: 1.7em;
    margin: 10px 0;
}

section.cta p{
    color: var(--unnamed-color-94bdf2);
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px 0;
}

section.cta p strong{
    color: var(--unnamed-color-0d65d9);
}

section.cta span {
    background-color: var(--unnamed-color-0d65d9);
    width: 300px;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--unnamed-color-f2f2f2);
    font-weight: bold;
}

section.cta span i{
    margin-right: 15px;
}

/*Responsive*/
@media (max-width: 850px) {
    .description{
        flex-direction: column;
    }

    section.description div.inner-wrapper{
        width: 100%;
    }

    section.description div.inner-wrapper:last-child img{
        width: 400px;
    }

    section.description div.inner-wrapper:last-child{
        margin-left:0%;
    }
}