@import url('main.css');
.w100 {
    width: 100% !important;
}


/* erros */

div#mensagensErro{
    display: none;
    width: 80%;
    justify-content: center;
    margin: 30px auto 0 auto;
}

div#mensagensErro h2{
    border-bottom: 1px solid #343a40;
    margin-bottom: 20px;
    font-size: 1.3em;
    color: #721C24;
}


div#erros{
    background-color: #F8D7DA;
    color:#721C24;
    padding: 15px;
}

div#erros a{
    font-weight: bold;
    color:#721C24;
}

#mensagensSucesso{
    width: 80%;
    margin: 20px auto 0 auto;
    display:none;
    background:#D4EDDA;
    color:#155724;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:20px;
}

#mensagensSucesso i{
    font-size: 4em;
    margin-bottom: 20px;
}

#loading{
    display: none;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}

#loading img{
    margin: 0;
}

/* Outros estilos */

main.contato {
    width: 80%;
    margin: 0 auto;
}

main.contato h1 {
    color: var(--unnamed-color-0d65d9);
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
}

main.contato section.description {
    width: 100%;
    margin: 20px 0;
}

main.contato section.description p {
    text-align: center;
    color: var(--unnamed-color-707070);
}

main.contato section.form-contato h2 {
    color: var(--unnamed-color-0d65d9);
    font-weight: 500;
    font-size: 2em;
    text-align: center;
}

main.contato section.form-contato {
    margin: 60px 0;
    width: 100%;
}

section.form-contato form {
    width: 100%;
}

section.form-contato form div.form-line-wrapper {
    width: 100%;
    display: flex;
    padding: 0 0.5%;
    justify-content: space-between;
    margin: 25px 0;
}

section.form-contato form div.form-column-wrapper {
    width: 49%;
    display: flex;
    flex-direction: column;
}

section.form-contato form div.form-line-wrapper input[type=text],
section.form-contato form div.form-line-wrapper input[type=email],
section.form-contato form div.form-line-wrapper textarea {
    border: 2px solid var(--unnamed-color-0d65d9);
    background-color: #F2F2F2;
    padding: 10px;
}

section.form-contato form div.form-line-wrapper textarea{
    resize: vertical;
}

section.form-contato form div.form-line-wrapper label {
    color: var(--unnamed-color-0d65d9);
    font-weight: bold;
    text-transform: uppercase;
}

section.form-contato form div.form-line-wrapper:last-child {
    justify-content: flex-end;
}

section.form-contato form input[type=submit] {
    background-color: var(--unnamed-color-0d65d9);
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 10px 60px;
    cursor: pointer;
}