@import url('main.css');
body {
    min-height: 100vh;
}

header {
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

header .nav-header ul {
    list-style: none;
}

header .nav-header ul li {
    position: relative;
    float: left;
}

.first-li {
    padding: 20px;
}

header .nav-header ul li a {
    font-size: 1.4vw;
    font-family: Montserrat;
    color: #707070;
    display: block;
    opacity: 1;
    text-decoration: none;
}

header .nav-header ul li a:hover {
    color: #0D65D9;
}

header .nav-header ul li ul {
    position: absolute;
    margin-top: 20px;
    left: 0px;
    min-width: 316px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0D65D9;
    border-radius: 5px;
    display: none;
    padding: 12px 0px;
}

header .nav-header ul li ul li {
    width: 100%;
}

header .nav-header ul li ul li a {
    padding: 7px 20px;
    text-decoration: none;
}

header .nav-header ul li:hover>ul {
    display: initial;
}

.all-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.section-itens {
    display: flex;
}

.logo {
    width: 154px;
    height: 52px;
}

header .all-menu section {
    display: flex;
    align-items: center;
}

.franqueado-link a {
    font-size: 1.4vw;
    font-family: Montserrat;
    color: #707070;
    opacity: 1;
    text-decoration: none;
    border: 2px solid var(--unnamed-color-1e6fd9);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1E6FD9;
    border-radius: 20px;
    opacity: 1;
    padding: 10px 18px;
}

.franqueado-link a:hover {
    color: #fff;
    background-color: #1E6FD9;
}

.icon-bar i {
    display: none;
}

#sejaUmFranqueado2 {
    display: none;
}

#ul_bar.activee {
    display: flex;
}

@media (max-width: 880px) {

    #ul_bar {
        display: none;
    }

    .all-menu {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    .nav-header ul {
        display: flex;
        flex-direction: column;
        border: solid 1px blue;
        padding: 10px;
        position: absolute;
        background-color: white;
        margin-top: 15px;
    }

    .first-li {
        padding: 0px;
        margin: 10px 0px 10px 0px;
    }

    #tchau {
        display: flex;
        font-size: 20px;
    }

    header .nav-header ul li ul {
    position: relative;
    border-radius: 5px;
    border: none;
    }

    header .nav-header ul li a{
        font-size: 20px;
    }

    header .nav-header ul li ul li {
        float: none;
    }

    .franqueado-link {
        display: none;
    }

    #sss-img {
        margin: auto;
    }

    #sejaUmFranqueado2 {
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    #sejaUmFranqueado2 a {
        font-size: 1.4vw;
        font-family: Montserrat;
        color: #707070;
        opacity: 1;
        text-decoration: none;
        border: 2px solid var(--unnamed-color-1e6fd9);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #1E6FD9;
        border-radius: 20px;
        opacity: 1;
        padding: 10px 18px;
        }


    .logo {
        width: 100%;
        height: 100%;
    }

    #sss-img {
        width: 19vw;
    }

       
}